.contact--logos {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin: 3%;
    padding: 4% 4% 1% 4%;
}

.contact--logos > a {
    font-size: 3em;
    color: #000;
    margin: auto;
}

@media (min-width:481px) {
    .contact--logos {
        flex: 1;
        margin: 1%;
        padding: 0.5em;
    }

    .contact--logos > a {
        margin: 1%;
    }
}