#tsparticles {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    /* z-index: -1; */
    height: 100vh;
}

.particulae-container {
    background-color: #fbdc43;
    display: flex;
    justify-content: center;
    align-items: center;
}

#particulae--header {
    /* border: 1px solid red; */
    position: absolute;
    height: min-content;
}

#particulae--header > h1 {
    /* border: 1px solid rgb(31, 255, 1); */
    font-family: Rubik, Courier,monospace;
    font-weight: 900;
    letter-spacing: 0px !important;
    color: #fff;
    font-size: 3rem;
    letter-spacing: -3px;
    align-self: center;
    max-width: 75vw;
    margin: 0;
}
#particulae--header > h2 {
    /* border: 1px solid rgb(31, 255, 1); */
    font-weight: Normal;
    color: #fff;
    letter-spacing: 1em;
    font-size: 1rem;
    max-width: 60vw;
    margin: 0%;
}