h1, h2, h3 {
    font-family: Rubik;
}

h2 {
    margin: 0.25em 0;
}

h3 {
    margin: 0.25em 0;
    font-weight: 400;
}

p {
    font-family: 'Courier New', Courier, monospace;
    /* color: #ffffff; */
}

.section-header {
    padding: 5%;
    color: #f0f0f0;
    /* background-color: #f7a87d; */
    margin: 6% 3% 3% 3%;
    border-radius: 2px;
}

@media (min-width:481px) {
    .section-header {
        padding: 2%;
        margin: 3% 1% 1% 1%
    }

}
