.about {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

#about--profile-picture {
    border: 0.5em solid #000;
    /* for mobile only: */
    max-width: 100%;
}
/* desktop, tablets */

@media (min-width:481px) {

    .about {
        flex-direction: row;
        margin: 4em;
    }

    #about--profile-picture {
        width: 20%;
        align-self: center;
    }
    
    .about--text {
        margin: 4em;
    }

}