.about {
    border: 1px solid red;
    margin: 1em;
    font-family: 'Courier New', Courier, monospace;
    /* display: flex; */
}

#about--profile-picture {
    border: 0.5em solid #000;
    max-height: 20em;
    background:red;

}

.about--text {
    border: 1px solid red;
    margin: 1em;
    /* position: relative; */

}