.contact {
    padding: 2em 4em;
    margin: 1rem;
    border: 1px solid rgb(0, 34, 255);
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.contact--logos {
    border: 1px solid rgb(13, 255, 0);
    text-align: center;
}

.contact--logos > a {
    font-size: 60px;
    color: #000;
    margin: 0 1rem;
}