.contact {
    /* border: 1px solid rgb(0, 34, 255); */
    background-color: rgb(245, 245, 245);
    padding-bottom: 1em;
}

.contact h1 {
    padding-top: 1em
}

.contact--logos {
    /* border: 1px solid rgb(13, 255, 0); */
    text-align: center;
}

.contact--logos > a {
    font-size: 3em;
    color: #000;
    margin: 1rem;
}

@media (min-width:481px) {
    .contact {
        display: flex;
        padding-bottom: 0;
    }

    .contact > h1 {
        padding: 0;
    }
    .contact--logos {
        margin: 1.5em;
    }

}