.contact {
    /* border: 1px solid rgb(0, 34, 255); */
    background-color: rgb(245, 245, 245);
}

.contact h1 {
    padding-top: 1em
}

.contact--logos {
    /* border: 1px solid rgb(13, 255, 0); */
    text-align: center;
}

.contact--logos > a {
    font-size: 60px;
    color: #000;
    margin: 0 1rem;
}