.education {
    /* border: 2px solid rgb(255, 0, 255); */
}

.education h1 {
    font-family: Rubik;
    padding: 2%;
    background-color: #fdc425;
    margin: 4% 1% 1% 1%;
}

.education--entry {
    background-color: #fdc425;
    /* border: 1px solid red; */
    margin: 1%;
    padding: 2%;
}

.education--entry img {
    width: 6em;
    margin: 0;
}

.education--entry h2 {
    margin: 0.25em 0;
}

.education--entry h3 {
    margin: 0.25em 0;
}

.education--degree {
    font-weight: 100;
    /* border: 1px solid rgb(0, 231, 215); */

}

@media (min-width:481px) {
    .education--entries {
        display: flex;
        flex-wrap: wrap;
    }
    .education--entry {
        flex: 1;
    }
}