.education {
    /* border: 2px solid rgb(255, 0, 255); */
    background-color: rgb(245, 245, 245);
}

.education h1 {
    padding-top: 1em;
}

.education--entry {
    /* border: 1px solid red; */
    padding: 2em;
}

.education--entry img {
    width: 6em;
    margin: 0;
}

.education--entry h2 {
    margin: 0.25em 0;
}

.education--entry h3 {
    margin: 0.25em 0;
}

.education--degree {
    font-weight: 100;
    /* border: 1px solid rgb(0, 231, 215); */

}

@media (min-width:481px) {
    .education--entries {
        display: flex;
        flex-wrap: wrap;
    }
    .education--entry {
        flex: 1;
    }
}