.education {
    /* border: 2px solid rgb(255, 0, 255); */
    background-color: rgb(245, 245, 245);
}

.education h1 {
    padding-top: 1em;
}

.education--instance {
    /* border: 1px solid red; */
    padding: 2em;
}

.education--instance img {
    width: 6em;
    margin: 0;
}

.education--instance h2 {
    margin: 0.25em 0;
}

.education--instance h3 {
    margin: 0.25em 0;
}

.education--degree {
    font-weight: 100;
    /* border: 1px solid rgb(0, 231, 215); */

}